# directories
gitignore/
node_modules/

# *.zip

*.iso
*.tmp
*.bin

# compillation objects
*.o
*.a
*.so
*.out
*.dSYM
*.so.dSYM
*.exe
*.dat
*.obj
*.gch
*.lib
*.dll

# python
*.pyc
*.ipynb_checkpoints

# mac
.DS_Store
*.dmg

# video
*.mp4
*.avi
*.mkv
*.mpg

