*.iso

*.tmp
*.dmg
.ipynb_checkpoints
*.txt

data/*

*.pyc
*.gch

.DS_Store
*.mp4
*.avi
*.mkv
*.mpg

*.m4a
*.mp3
*.aac

# *.png
# *.jpg
*.gif
*.ppm
*.pgm

*.o
*.a
*.so
*.dSYM
*.so.dSYM
*.dll

*.exe
*.out
*.dat


node_modules

linux
macos
windows

*.obj
