# directories
bin
test
data
ignore
node_modules

*.txt
!readme.txt
*.iso
*.tmp
*.bin

# compillation objects
*.o
*.a
*.so
*.out
*.dSYM
*.so.dSYM
*.exe
*.dat
*.obj
*.gch
*.lib
*.dll

# python
*.pyc
*.ipynb_checkpoints

# mac
.DS_Store
*.dmg

# video
*.mp4
*.avi
*.mkv
*.mpg

# audio
#*.m4a
#*.mp3
#*.aac

# image
#*.png
#*.jpg
#*.gif
#*.ppm
#*.pgm
